<h1>People Content</h1>
<div>
    Content in this area will be the primary content for the People page. It will stay above the Complementary content as the viewport is made smaller.  
    At the smallest view port size, it will be in between the Navigation content and the Complementary content.
</div>
<br/>
<div>
    To change the content of this section, you will make edits to the people.tmpl.html file located in the /templates folder.
    <!--
    <label for="text-input" class="oj-label-nocomp">search</label>
    <input id="text-input" type="text" class="oj-form-control oj-inputtext-nocomp"
           placeholder="search for users" data-bind="value: searchName"/>
    <button id="button" 
            data-bind="ojComponent: {
                component: 'ojButton', 
                display: 'icons', 
                icons: {start:'oj-fwk-icon oj-fwk-icon-magnifier'},
                label: 'Search'
            }"></button>
    -->
    <input data-bind="ojComponent: {
               component: 'ojInputText',
               value: searchName
           }">
    searching for <span data-bind="text: searchName"></span>
    <div>
        <script type="text/html" id="user_template">
            <li>
                <div class="oj-row">
                    <div class="oj-col oj-sm-2 oj-md-1" data-bind="if: $parent.maxScore">
                        <div id="gauge4" 
                             data-bind="ojComponent: {
                                            component: 'ojStatusMeterGauge', 
                                            animationDuration: 1500,
                                            animationOnDisplay: 'auto',
                                            min: 0, 
                                            max: 100, 
                                            thresholds: [{max: 33}, {max: 67}, {}],
                                            value: Math.round(score/$parent.maxScore()*100), 
                                            orientation: 'circular',
                                            metricLabel: {rendered: 'on', _textType:'percent'},
                                            plotArea: {rendered: 'on'},
                                            rootAttributes: {style: 'height:40px;width:40px;'},
                                            readOnly: false
                                        }"></div>
                    </div>
                    <div class="oj-col oj-sm-2 oj-md-1">
                        <span class="avatar" style="border-radius:50%; background-size:35px 35px; width: 35px; height: 35px; display: inline-block;"
                              data-bind="style: {backgroundImage: 'url(\'' + avatar_url + '\')'}"></span>
                    </div>
                    <div class="oj-col oj-sm-8 oj-md-10">
                        <strong data-bind="text: login"></strong>
                    </div>
                </div>
            </li>
        </script>
        <ul id="ghusers" 
            data-bind="ojComponent: {
                component: 'ojListView',
                data: usersDatasource, 
                item: {template: 'user_template'},
                rootAttributes: {style: 'width:100%;overflow-x:hidden'},
            }"></ul>
    </div>
</div>
